<div class="navbar">
  <mat-toolbar class="navbar" role="navigation">
    <button mat-button (click)="openMovies()">
      <img src="../../assets/B.png" alt="BFlix Logo" height="50" />
    </button>
    <div class="profile-logout-buttons">
      <span class="example-spacer"></span>
      <a mat-button (click)="openProfile()" class="nav-buttons">
        {{ username }}
        <mat-icon>account_circle</mat-icon>
      </a>
      <a mat-button (click)="logoutUser()" class="nav-buttons logout">
        Logout
        <mat-icon>logout</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</div>
